.app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 75vh;

  text-align: center;
  
  &__title,
  &__subtitle {
    color: $white;
    margin: 0;
  }

  &__title {
    font-size: 9.5rem;
  }

  &__subtitle {
    font-size: 4.2rem;
  }

  &__phone {
    width: 200px;
    height: auto;
    backface-visibility: hidden;
    transform: translateZ(0);

    path {
      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
    }

    &.is-tilting {
      animation: tiltPhone 3s linear 0s infinite normal none;
    }
  }
}

@keyframes tiltPhone {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(45deg);
  }

  100%  {
    transform: rotateX(0deg);
  }
}